<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener
      </h1>
    </header>

    <main>
      <p>
        To use simply input a URL below or affix any URL to the end of:
        <br>
        https://lincbarturlshort.glitch.me/new/
        <br>
        and you will recieve a JSON object with your original URL and a minified URL.
        <br>
        <hr>
      </p>
      <h1>
        Example:
      </h1>
      <p>
        https://lincbarturlshort.glitch.me/new/http://www.lincbart.com/
        <br>
        <br>
        would return:
        <br>
        {"original_URL":"http://lincbart.com/","short_URL":"https://lincbarturlshort.glitch.me/B1U1yapqb"}
      </p>
    <hr>
    <h1>
      Try It out!
    </h1>
      <form>
        <input id="inputURL" type="text" placeholder="Input URL" required/>
        <input id="inputBtn" type="button" value="Submit"/>
      </form>
      <p>
        <i>URL must start with either http:// or https://</i>
      </p>
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
